@charset "UTF-8";

/*.color1 { #e0eff1 cinza claro};
.color2 { #7db4b5 }; azul claro cinza
.color3 { #ffffff };
.color4 { #680148 }; vinho
.color5 { #000000 }; */ 

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html,body{
    width: 100vw;
    height: 100vh;
    background-color: #680148  ;
}

main{
     width: 100vw;
    height: 100vh;
    position: relative;
}

section#login{
    border-radius: 20px;
    background-color:white ;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 550px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.63);

    transition: width .4s, heigth.4s;
    transition-timing-function: ease;
}

section#login > div#foto{
    background: url(../imagens/pexels-clement-proust-363898785-29532725.jpg) no-repeat;
    background-size: cover;
    height: 200px;
    display: block;
}

section#login > div#usuario{
    display: block;
    padding: 10px;
}

div#usuario > h1{
text-align: center;
padding: 10px;
}

div#usuario > p{
    font-size: .8em;
}

form> input[type=submit]{
    display: block;
    width: 100%;
    background-color:#7db4b5 ;
    border: none;
    font-size: 1em;
    height: 40px;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
}

form> input[type=submit]:hover{
    background-color: #557d7e;
    color: white;
    cursor: pointer;
}

form> a{
    border: 1px solid #557d7e;
    color: #507575;
    text-align: center;
    display: block;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
}

form>a:hover{
    background-color: #507575;
    color: white;
    font-size: 1 em;
}

form> div.campo{
    background-color: #680148;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
    width: 100%;
    border: 2px solid #680148;
}

form label{
    display: none;
}

div.campo > span{
color: white;
width: 40px;
padding: 5px;
font-size: 2em;
}

div.campo> input{
    background-color: #d2f4f5;
    height: 100%;
    font-size: 1em;
    border-radius: 5px;
    width: calc(100% - 40px);
    float: right;
}

div.campo > input:focus-within{
    background-color: white;
}